.masonry-wrapper {
  padding: 1.5em;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  text-align: center;
  columns: 1;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry-wrapper {
    width: 670px;
  }
  .masonry {
  columns: 3;
}
}
@media only screen and (min-width: 1024px) {
  .masonry-wrapper {
    width: 870px;
  }
  .masonry {
    columns: 4;

  }
}